git+https://github.com/inmanta/inmanta.git
pep8-naming
flake8
flake8-black
isort<6.0.0
flake8-isort
flake8-copyright
black
tox
tox-venv
pytest
pytest-randomly
pytest-asyncio
pytest-inmanta-extensions
